@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */




html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5em;
  grid-template-columns: 1fr;
  height: 100%;
}

header
{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center; /*align vertically*/
  padding: 0.5rem;
}
a:hover {
  color: #ff8000;
}

body,input,select,textarea,button{
  font-size: 1.6rem;
  font-family: 'Montserrat';
}

header a{
  color: #ffffff;
  text-decoration: none;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center; /*align horiztally*/
  align-items: center; /*align vertically*/

}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}

.products{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between  ;
  list-style-type: none;
}

img{
  height: 36rem;
  width: 30rem;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  width: 47rem;
  padding: 1em;
  font-size: 1.5rem;
  justify-content: space-between  ;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-price div{
  flex:1;
}

.product-price div{
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
a{
  text-decoration: none;
}
.cartbtn{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;  
  background-color: #f0c040;
}
.right{
  justify-content: space-between;
}
.Filter{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid ;
  justify-content: space-between;
  /* align-items: center; */
}
.Filter-sort{
  padding: 1rem;
}

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.right{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  /* align-items: center; */
}
.cart-items img {
  width: 5rem;
  height: 5rem;
  padding-top: 10px;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.incdec{
  height: 22px;
}

.cartbtn{
  height: 29px;
  font-size: 13px;
  padding: 6px;
}

.total{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 
.total div{
  flex:
} */